<% if(recipe != null ) { %>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%- recipe.name %></li>
    </ol>
  </nav>

  <div class="row" id="recipeDetails">
    <div class="col-12 col-md-8">
      <div class="row">
        <div class="col-12">
          <div class="sticky-top">
            <button type="button" class="btn btn-danger float-end" id="deleteRecipeBtn" onclick="deleteRecipe('<%- recipe._id %>')">Delete</button>
            <button type="button" class="btn btn-success float-end me-2" id="updateRecipeBtn" onClick="toggleUpdateForm()">Update</button>
          </div>
        </div>
        <div class="col-12"><h1><%- recipe.name %></h1></div>
        <div class="col-12 mb-4"><i class="bi bi-tag"></i> <%- recipe.category %></div>
        <div class="col-12" style="white-space: pre-line;">
          <h4>Cooking Instructions</h4>
          <%- recipe.description %>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-12">
          <h4>Ingredients</h4>
          <ul class="list-group list-group-flush">
            <% recipe.ingredients.forEach(function(ingredients, index){ %>
              <li class="list-group-item"><%= ingredients %></li>
            <% }) %>
          </ul> 
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <img src="/uploads/<%- recipe.image %>" class="img-fluid sticky-top" style="top: 20px;" alt="<%- recipe.name %>" loading="lazy">
    </div>
  </div>

    <!-- Form for updating recipe -->
    <form id="updateRecipeForm" action="/recipe/<%- recipe._id %>" method="post" onsubmit="updateRecipe(event, '<%- recipe._id %>')" style="display:none;">
      <div class="mb-3">
        <label for="recipeName" class="form-label">Recipe Name</label>
        <input type="text" class="form-control" id="recipeName" name="recipeName" value="<%- recipe.name %>" required>
      </div>
      <div class="mb-3">
        <label for="recipeCategory" class="form-label">Category</label>
        <input type="text" class="form-control" id="recipeCategory" name="recipeCategory" value="<%- recipe.category %>" required>
      </div>
      <div class="mb-3">
        <label for="recipeDescription" class="form-label">Cooking Instructions</label>
        <textarea class="form-control" id="recipeDescription" name="recipeDescription" rows="5" required><%- recipe.description %></textarea>
      </div>
      <div class="mb-3">
        <label for="recipeIngredients" class="form-label">Ingredients</label>
        <ul class="list-group list-group-flush">
          <% recipe.ingredients.forEach(function(ingredient, index){ %>
            <li class="list-group-item"><input type="text" class="form-control" name="recipeIngredients[]" value="<%= ingredient %>" required></li>
          <% }) %>
        </ul>
      </div>
      <div class="mb-3">
        <label for="recipeImage" class="form-label">Current Image</label>
        <img src="/uploads/<%- recipe.image %>" class="img-fluid" alt="<%- recipe.name %>">
      </div>
      <div class="mb-3">
        <label for="newRecipeImage" class="form-label">New Image</label>
        <input type="file" class="form-control" id="newRecipeImage" name="newRecipeImage">
      </div>
      <input type="hidden" name="_method" value="PATCH">
      <button type="submit" class="btn btn-success">Update Recipe</button>
    </form>
  
<% } else { %>
  <p>No item found.</p>
<% } %>